
@{
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}

<div class="layui-container">
    <div class="layui-row">
        <div class=" layui-col-md-12">
            <form class="layui-form layui-form-pane" method="post" action="@Url.Action("ContentPage","Home")">
                <div class="layui-col-md-12">
                    <div class="layui-form-item">
                        <label class="layui-form-label">题号</label>
                        <div class="layui-input-block">
                            <input type="text" name="Stides" autocomplete="off" value="@ViewData["stide"]" readonly="readonly" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-md-12">
                    <div class="layui-form-item">
                        <label class="layui-form-label">选项类型</label>
                        <div class="layui-input-block">
                            @{
                                foreach (var item in ViewData["Group"] as SelectList)
                                {
                                    if (item.Value == "006")
                                    {
                                        //lay-filter 一定要加标识
                                        <input name="interest" class="interest" lay-filter="interest" title="@item.Text" checked="" type="radio" value="@item.Value">
                                    }
                                    else
                                    { <input name="interest" class="interest" lay-filter="interest" title="@item.Text" type="radio" value="@item.Value">}
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="layui-col-md-12">
                    <div class="layui-form-item">
                        <label class="layui-form-label">题干名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="TopicName" lay-verify="required" autocomplete="off" placeholder="设置题干" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-md-12">
                    <div class="layui-form-item">
                        <label class="layui-form-label">字数限制</label>
                        <div class="layui-input-block">
                            <input type="text" id="Charlength" name="CharactersSize" autocomplete="off" placeholder="字数限制" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-md-12">
                    <div class="layui-form-item">
                        <label class="layui-form-label">选项名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="OptionSet" autocomplete="off" placeholder="各选项名称（以 * 隔开）" class="layui-input">
                        </div>
                    </div>
                </div>
                <div>
                </div>
                <div class="layui-col-md-12" style="font-weight:bold;">
                    <div class="layui-form-item layui-col-md-5">
                        <button class="layui-btn layui-btn-fluid layui-btn-sm" id="nextStep02" lay-submit="" lay-filter="formDemo">下一步</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/lib/layui/layui.js"></script>
    <script src="~/js/home.js"></script>
    <script src="~/js/layuicontent.js"></script>
    <script>

        $(".interest").attr("lay-verify", "options");
        ajaxLayui({
            ajax:"@Url.Action("ContentPage", "home")",
            succeed:"@Url.Action("Index","LayoutWeb")",
        });
    </script>
}



