@using GeneralSurvey_Utility;
@using GeneralSurvey_Data.Model;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>问卷调研页</title>
    <link href="~/lib/Validform_v5.3.2/style.css" rel="stylesheet" />
    <link href="~/lib/Validform_v5.3.2/demo.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="~/css/fileupload.css" rel="stylesheet" />
    <link href="~/css/home.css" rel="stylesheet" />
    <style>
        @@media (max-width: 1024px)
        {
            section
            {
                width: 100%;
                margin-left: 0;
                margin-top: 18%;
            }

            .table
            {
                color: red;
                border: red solid thin;
                width: 10px;
            }
        }

        #warning
        {
            margin-left: 1px;
        }

        #title
        {
            font-size: 15px;
            background: rgb(234, 232, 232);
        }

        .navbar-header
        {
            line-height: 50px;
            margin-top: 3%;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--头部开始-->
                <header>
                    <div class="navbar navbar-inverse navbar-fixed-top">
                        <div class="container">
                            <div class="col-md-7 col-md-offset-2">
                                <div class="navbar-header">
                                    @{
                                        string title = HelpFormsettings.GetList().SingleOrDefault(u => u.FormID == Seesion.FromIds).FormTitle.Replace(" ", "");
                                        <h3>@title</h3>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <!--内容页开始-->
                <section>
                    <div>
                        @{
                            string query = HelpFormsettings.GetList().SingleOrDefault(u => u.FormID == Seesion.FromIds).FormNote;
                            <p>@query</p>
                        }
                    </div>
                    <form method="post" enctype="multipart/form-data" class="register" action="@Url.Action("Index","ShowText")">
                        <div class="table-responsive">
                            <table class=" table-striped table-condensed table-hover " style="width:100%;">
                                <tbody>
                                    @{
                                        var count = 0;
                                        foreach (var item in (List<Topicgroups>)ViewData["query"])
                                        {
                                            <tr class="active">
                                                <td id="title">@item.TopicName</td>
                                            </tr>
                                            switch (item.SetsettingId)
                                            {
                                                case "001": // 多选框
                                                    try
                                                    {
                                                        if (item.OptionText.IndexOf("*") > -1)
                                                        {
                                                            var arry = item.OptionText.Split('*');
                                                            <tr>
                                                                <td class="col-md-12 col-sm-9">
                                                                    @{
                                                                        for (int i = 0; i < arry.Length; i++)
                                                                        {
                                                                            <div class="col-md-6">
                                                                                <input type="checkbox" datatype="*" value="@arry[i]" name="@item.FromName" title="@arry[i]">
                                                                                <label>
                                                                                    @arry[i]
                                                                                </label>
                                                                                <span class="Validform_checktip"></span>
                                                                            </div>
                                                                        }
                                                                    }
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                    catch (Exception ex)
                                                    {
                                                        <span>请参照本系统规则添加选项</span>
                                                    }
                                                    break;
                                                case "002": //单选框
                                                    try
                                                    {
                                                        if (item.OptionText.IndexOf("*") > -1)
                                                        {
                                                            var arry = item.OptionText.Split('*');
                                                            <tr>
                                                                <td class="col-md-12">
                                                                    @{
                                                                        for (int i = 0; i < arry.Length; i++)
                                                                        {
                                                                            <div class="col-md-6">
                                                                                <input type="radio" value="@arry[i]" datatype="*" name="@item.FromName" title="@arry[i]">
                                                                                <label>
                                                                                    @arry[i]
                                                                                </label>
                                                                                <span class="Validform_checktip"></span>
                                                                            </div>
                                                                        }
                                                                    }
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                    catch (Exception el)
                                                    {
                                                        <span>请参照本系统规则添加选项</span>
                                                    }
                                                    break;
                                                case "003": // 下拉框
                                                    <tr>
                                                        <td class="col-md-12 col-sm-9">
                                                            <select class="form-control input-sm" name="@item.FromName">
                                                                <option value="">--请选择--</option>
                                                                @{
                                                                    try
                                                                    {
                                                                        if (item.OptionText.IndexOf("*") > -1)
                                                                        {
                                                                            var arry = item.OptionText.Split('*');
                                                                            for (int i = 0; i < arry.Length; i++)
                                                                            {
                                                                                <option name="@item.FromName" value="@arry[i]">@arry[i]</option>
                                                                            }
                                                                        }
                                                                    }
                                                                    catch (Exception ex) { }
                                                                }
                                                            </select>
                                                            <span class="Validform_checktip"></span>
                                                        </td>
                                                    </tr>
                                                    break;
                                                case "004": // 多文本
                                                    <tr>
                                                        <td class="col-md-12 col-sm-9">
                                                            <textarea class="form-control" datatype="*1-@item.CharactersSize" name="@item.FromName" placeholder="请输入信息"></textarea>
                                                            <span class="Validform_checktip"></span>
                                                        </td>
                                                    </tr>
                                                    break;
                                                case "005": // 文件上传
                                                    if (count == 0) //只允许出现一个文件上传框
                                                    {
                                                        <tr>
                                                            <td class="col-md-12 col-sm-9">
                                                                <span class="upload">
                                                                    <input type="text" readonly datatype="*" name="@item.FromName" class="upload-url input-sm" style="width:250px" />
                                                                    <span class="Validform_checktip"></span>
                                                                    <input type="button" class="upload-btn btn-default  btn-sm" value="浏览文件" />
                                                                    <input type="file" name="files" multiple id="BlogPhoto" class="upload-input-file form-control input-sm">
                                                                </span>
                                                                <div id="warning" style="color:red;"></div>
                                                            </td>
                                                        </tr>
                                                        count++;
                                                    }
                                                    break;
                                                case "006": // 输入框
                                                    <tr>
                                                        <td class="col-md-12 col-sm-9">
                                                            <input type="text" class="form-control input-sm" datatype="*1-@item.CharactersSize" name="@item.FromName" id="exampleInputEmail1" placeholder="请输入信息" />
                                                            <span class="Validform_checktip"></span>
                                                        </td>
                                                    </tr>
                                                    break;
                                                case "007": // 时间
                                                    <tr>
                                                        <td class=" col-md-12 col-sm-9">
                                                            <input class="layui-input input-sm" name="@item.FromName" datatype="*" id="test1" placeholder="年-月-日" type="text">
                                                            <span class="Validform_checktip"></span>
                                                        </td>
                                                    </tr>
                                                    break;
                                                case "008": // 地址
                                                    <tr>
                                                        <td class="docs-methods col-sm-9 col-md-12">
                                                            <div id="distpicker">
                                                                <div class="col-md-4">
                                                                    <label class="sr-only" for="province10">Province</label>
                                                                    <select class="form-control input-sm" datatype="*" name="@item.FromName" id="province"></select>
                                                                    <span class="Validform_checktip"></span>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label class="sr-only" for="city10">City</label>
                                                                    <select class="form-control input-sm" datatype="*" name="@item.FromName" id="city"></select>
                                                                    <span class="Validform_checktip"></span>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label class="sr-only" for="district10">District</label>
                                                                    <select class="form-control input-sm" name="@item.FromName" id="district"></select>                                                               
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    break;
                                                case "009": // 邮箱
                                                    <tr>
                                                        <td class="col-md-12 col-sm-9">
                                                            <input type="text" class="form-control input-sm" datatype="e" name="@item.FromName" id="email" placeholder="请输入信息" />
                                                            <span class="Validform_checktip"></span>
                                                        </td>
                                                    </tr>
                                                    break;
                                                case "010": // 手机
                                                    <tr>
                                                        <td class="col-md-12 col-sm-9">
                                                            <input type="text" class="form-control input-sm" datatype="m" name="@item.FromName" id="email" placeholder="请输入信息" />
                                                            <span class="Validform_checktip"></span>
                                                        </td>
                                                    </tr>
                                                    break;
                                                case "011": // 网址
                                                    <tr>
                                                        <td class="col-md-12 col-sm-9">
                                                            <input type="text" class="form-control input-sm" datatype="url" name="@item.FromName" id="email" placeholder="请输入信息" />
                                                            <span class="Validform_checktip"></span>
                                                        </td>
                                                    </tr>
                                                    break;
                                            }

                                        }
                                    }
                                    <tr>
                                        <td align="center">
                                            <div class="col-md-6 col-md-offset-3 ">
                                                <input type="submit" id="mits" value="提交申请" class="btn btn-lg btn-default" />
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="col-md-8 " id="footer" style="">
                                            @{
                                                string copy = HelpFormsettings.GetList().SingleOrDefault().FormCopyright;
                                                <p>   &copy; @DateTime.Now.Year - @copy</p>
                                            }
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </form>
                </section>
                <div id="btn">
                    <i class="layui-icon layui-icon-top" style="font-size: 40px; color: #222222;"></i>
                </div>
                <style>
                    #btn
                    {
                        line-height: 45px;
                        text-align: center;
                        background: no-repeat;
                        position: fixed;
                        border-radius: 12px;
                        border: #cfcaca solid thin;
                        bottom: 50px;
                        right: 0;
                        width: 45px;
                        height: 45px;
                    }
                </style>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/Validform_v5.3.2/Validform_v5.3.2_min.js"></script>
    <script src="~/lib/layui/layui.js"></script>
    <script src="~/lib/distpicker/distpicker.data.js"></script>
    <script src="~/lib/distpicker/distpicker.js"></script>
    <script src="~/lib/distpicker/main.js"></script>
    <script src="~/lib/layui/layui.js"></script>
    <script src="~/js/home.js"></script>
    <script src="~/js/showtext.js"></script>
    <script src="~/js/back_top.js"></script>
    <script>
        // 验证存在问题 ？？？
        backTop();

        layui.use('laydate', function () {
            var laydate = layui.laydate;
            //常规用法
            laydate.render({
                elem: '#test1'
            });
        });
        var demo = $(".register").Validform({
            tiptype: function (msg, o, cssctl) {
                //msg：提示信息;
                //o:{obj:*,type:*,curform:*}, obj指向的是当前验证的表单元素（或表单对象），type指示提示的状态，值为1、2、3、4， 1：正在检测/提交数据，2：通过验证，3：验证失败，4：提示ignore状态, curform为当前form对象;
                //cssctl:内置的提示信息样式控制函数，该函数需传入两个参数：显示提示信息的对象 和 当前提示的状态（既形参o中的type）;
                if (!o.obj.is("form")) {//验证表单元素时o.obj为该表单元素，全部验证通过提交表单时o.obj为该表单对象;
                    var objtip = o.obj.siblings(".Validform_checktip");
                    cssctl(objtip, o.type);
                    objtip.text(msg);
                }
            }
        });
        demo.addRule([
            {
                ele: "select",
                datatype: "*"
            },
            {
                ele: ":radio:first",
                datatype: "*"
            },
            {
                ele: ":checkbox:first",
                datatype: "*"
            }
        ]);

        //禁止自动选择
        $("#distpicker").distpicker({
            autoSelect: false
        });
        /*
         * 文件错误显示
         * */
        var upFileError = function () {
            $(".upload-url").val($("#BlogPhoto").val());
            var file = getNameFromPath($("#BlogPhoto").val());
            if (file != null) {
                var extension = file.substr((file.lastIndexOf('.') + 1));
                console.log(extension);
                fileTypeBool = exten(extension);
            }
            if (!fileTypeBool) {
                $("#warning").html("只能上传Word,Excel,PPt文件！");
                return false;
            }
            else {
                $("#warning").html("");
                return true;

                var size = GetFileSize('BlogPhoto');
                if (size > 20) {
                    return true;
                    //fileSizeBool = true;
                    $("#warning").html("上传文件已经超过4兆！");
                } else {
                    $("#warning").html("");
                    return false;
                    //fileSizeBool = false;
                }
            }
        }

        function doUpload() {
    var formData = new FormData($("#uploadForm")[0]);
    $.ajax({
        url: '@Url.Action("Index")',
        type: 'POST',
        data: formData,
        async: false,
        cache: false,
        contentType: false,
        processData: false,
        success: function (returndata) {
            alert(returndata);
        },
        error: function (returndata) {
            alert(returndata);
        }
    });
}
        ///文件选择框变化时，验证上传文件是否正确
        $("#BlogPhoto").change(function () {
            upFileError();
        });
    </script>
</body>
</html>
