@{
    Layout = null;
    @using  GeneralSurvey_Data.Model;
    @using  GeneralSurvey_Utility;
    @using  Newtonsoft.Json;
    @using  Newtonsoft.Json.Linq;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>数据显示页面</title>
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <script src="~/lib/jquery-easyui/jquery.min.js"></script>
    <script src="~/lib/layui/layui.js"></script>
    <link rel="icon" href="~/favicon.ico" type="img/x-ico" />
    <style>
        .scroll_tablex
        {
            width: 100%;
            overflow-y: scroll;
        }

        .scroll_tablex table
        {
            width: auto;
            min-width: 100%;
            border: 1px solid #e4e4e4;
            border-collapse: collapse;
            border-spacing: inherit;
            white-space: nowrap;
        }

        .scroll_tablex table tr td
        {
            border: 1px solid #e4e4e4;
            padding: 5px;
            text-align: center;
            font-size: 12px;
            position: relative;
            height: 32px;
            border-bottom: 0;
            border-top: 0;
            min-width: 60px;
        }
    </style>
</head>
<body>
    <div class="layui-container-full">
        <div class="layui-col-md12">
            <table class="layui-table">
                <thead>
                    <tr>
                        @{
                            foreach (var item in ViewData["theader"] as List<Topicgroups>)
                            {
                                <th>@item.TopicName</th>
                            }
                        }
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model as List<AnswerGroup>)
                        {
                            <tr>
                                @{
                                    // 直接把字符串转成Json的形式
                                    if (item.Answer != null)
                                    {
                                        JObject jo = (JObject)JsonConvert.DeserializeObject(item.Answer);
                                        foreach (var objects in jo["Values"])
                                        {

                                            ///判断是否为路径格式，如果存在就直接显示下载
                                            if (objects.ToString().IndexOf("/") > -1)
                                            {
                                                <td>@Html.ActionLink("附件下载", "Download", new { id = item.id })</td>
                                            }
                                            else
                                            {
                                                <td>@objects</td>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <td>请检查数据库值是否为空</td>
                                    }
                                }
                                <td>
                                    @Html.ActionLink("详细", "Details", new { id = item.id })<br />
                                    @Html.ActionLink("删除", "Delete", new { id = item.id }, new { @class = "Delete" })
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
<script>
  /// 后台拼接标签到前端 直接当成字符串显示了 ？？？
</script>